<div class="container justify-content-center bg-white mt-2">
  <div class="cancel row">
    <%= link_to "Annuler", root_path, class: "text-decoration-none text-danger" %>
  </div>

  <div class="row justify-content-center m-3">
    <h3 class="title row text-center">Trouver une alternative végétale à une recette </h3>
      <div class="name-input input-group mb-1 border rounded-pill border-1 bg-white">
         <%= form_with url: recipes_path, method: :post do |form|%>
        <%= form.text_field :title, class: "form-control border rounded-pill border-0 bg-white", placeholder: "Entre le nom d'une recette" %>
      </div>
  </div>

  <div class="row text-center text-danger mt-1">
    <p>ou </p>
  </div>

  <div class="title-2 row text-left">
    <h4>Photo de la recette </h4>
  </div>

  <div class="row m-1">
    <div class="upload-card p-2 text-center">
        <div class="icon-new text-center bg-white">
          <i class="icon-new fa-solid fa-image"></i>
        </div>
        <%= form.file_field :temp_photo %>
    </div>
  </div>


  <div class="row text-center text-danger my-2">
    <p>ou </p>
  </div>

  <div class="title-2 row text-left">
    <h4>Lien de la recette </h4>
  </div>

  <div class="row justify-content-center m-3">
    <div class="url-input input-group mb-1 border rounded-pill border-1 bg-white">
    <%= form.url_field :url, class: "form-control border rounded-pill border-0 bg-white", placeholder: "Entre le lien d'une recette" %>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="text-center mt-1 p-0">
      <%= form.submit "Je végétalise !", class: "button-veggie-100" %>
      <% end %>
    </div>
  </div>
</div>
