<div class="main-img">
  <%= image_tag("frisbee.jpg", id:"img_main") %>
</div>
<div class="content">
  <div class="container px-4">
    <div class="mt-3 mb-2">
      <hr id="popup">
    </div>
  <div class="text-center">
    <h2><%= @recipe.name %></h2>
  </div>
  <div class="row">
    <div class="col-6">
        Temps :
        <i class="fa-regular fa-clock"></i>
        <%= @recipe.time %> mn
      </div>
    <div class="col-6">
        Difficulté :
        <% if @recipe.difficulty == 1 %>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        <% elsif @recipe.difficulty == 3 %>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        <% else %>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
        <% end %>
    </div>
    <div class="col-6 mt-2">
        Coût :
        <% if @recipe.cost == 1 %>
          <i class="fa-solid fa-euro-sign"></i>
        <% elsif @recipe.cost == 3 %>
          <i class="fa-solid fa-euro-sign"></i>
          <i class="fa-solid fa-euro-sign"></i>
          <i class="fa-solid fa-euro-sign"></i>
        <% else %>
          <i class="fa-solid fa-euro-sign"></i>
          <i class="fa-solid fa-euro-sign"></i>
        <% end %>
    </div>
    <div class="col-6 mt-2">
        Coût en Co2 :
        <% co2_sum =[] %>
        <% co2_sum = @recipe.ingredients.map do |ingredient| %>
          <% if ingredient.co2.nil? %>
            <% 100 %>
          <% else %>
            <% ingredient.co2 %>
          <% end %>
        <% end %>
        <%= co2_sum.sum %> g
    </div>
  </div>
  <hr>
    <div class="text-center">
      <a href="#" class="button-veggie-100">Ajouter à ma semaine</a>
    </div>
  <hr>
  <div>
    <h3>Ingredients</h3>
    <div class="row mt-2">
    <% @recipe.ingredients.each do |ingredient| %>
      <div class="col-6 gap-2"><i class="fa-regular fa-circle-check text-primary"></i> <%= ingredient.name %>
      </div>

    <% end %>
    </div>
  </div>
 <hr>
   <div>
    <h3>Étapes :</h3>
    <div class="row mt-2">
    <% @recipe.steps.each do |step| %>
      <div class="col-12 mt-2">
        <%= step.number %> - <%= step.content %>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>
