
<div class="container bg-white">
  <div class="text-center">
    <%= link_to "/", class: "logo" do %>
      <%= image_tag "logo2.png" %>
    <% end %>
  </div>

  <div class="text-center">
    <p class="text-body-color">Manger végétal, agir pour la planète :
    réduisons ensemble notre empreinte carbone !
    </p>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="text-center mt-3 p-0">
      <a href="#" class="button-veggie-100">Je végétalise une recette existante !</a>
    </div>
  </div>

  <div class="row justify-content-center mb-6">
    <div class="parent text-center">
      <div class="image-circle">
        <%= image_tag "home_recipe_1.png", class: " shadowed " %>
      </div>
    </div>
    <div class="image-holder">
      <%= image_tag "home_recipe_2.png", class: "shadowed child-1" %>
      <%= image_tag "home_recipe_3.png", class: "shadowed child-2" %>
      <%= image_tag "home_recipe_4.png", class: "shadowed child-3" %>
      <%= image_tag "home_recipe_5.png", class: "shadowed child-4" %>
      <%= image_tag "home_recipe_6.png", class: "shadowed child-5" %>
      <%= image_tag "home_recipe_7.png", class: "shadowed child-6" %>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="search input-group mb-3 border rounded-pill border-0">
      <div class="input-group-prepend">
        <i class="icon fa fa-search input-group-text border-0"></i>
      </div>
      <input type="text" class="form-control border-0" placeholder="Rechercher une recette veggie" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
</div>
