<div class="row align-items-center">
  <div class="col-4">
    <div class="mt-2 text-center">
      <%= image_tag("recette.jpg", id:"img_main-chart") %>
    </div>
  </div>
  <div class="col-8">
    <div class="text-center">
      <h2>
        <%= current_user.email %>
      </h2>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center mt-2">
  <div class="col-4">
    <div class="mt-2 text-center">
      <h2>
        <%= (Date.today.strftime('%a, %d %b %Y').to_date - current_user.created_at.strftime('%a, %d %b %Y').to_date).to_i %>
      </h2>
      <p>
        jours en tant que <span class="text-primary">VégéShifter</span>
      </p>
    </div>
  </div>
  <div class="col-4">
    <div class="text-center">
      <h2>
        <%= @dailies.count %>
      </h2>
      <p><span class="text-primary">Recettes</span> ajoutées
      </p>
    </div>
  </div>
  <div class="col-4">
    <div class="text-center">
      <h2>
        <%= @calcul %>
      </h2>
      <p>
        grammes de <span class="text-primary">CO2</span> réduit
      </p>
    </div>
  </div>
</div>

<div class="content-fav mt-4">
  <div class="pt-3 mb-2">
    <hr id="popup-fav">
  </div>
  <div class="container-fav px-4">
   <hr>
    <div class="m-2">
      <h2>Gender Ratio</h2>
      <div class="container w-50 chart">
        <canvas
  data-controller="chart"
  data-chart-data-value='{ "labels": ["January", "February", "March", "April", "May", "June", "July"], "datasets": [{ "label": "My First dataset", "backgroundColor": "transparent", "borderColor": "#3B82F6", "data": [37, 83, 78, 54, 12, 5, 99] }] }'
></canvas>
        <%# <canvas data-controller="chart-co2-impact">
          <!-- TODO: Display doughnut chart below -->
        </canvas> %>
      </div>
    </div>
  </div>
</div>
